.flex
  display flex
.flex-line
  display inline-flex

.fgrow
  flex-grow 1
.fn-grow
  .flex-grow 0
.fshrink
  flex-shrink 1
.fn-shrink
  flex-shrink 0

.frow
  flex-direction row
.fcolumn
  flex-direction column
.fwrap
  flex-wrap wrap
.fn-wrap
  flex-wrap nowrap
.fwrap-rev
  flex-wrap  wrap-reverse

.astart
  align-items flex-start
.acenter
  align-items center
.aend
  align-items flex-end

.jstart
  justify-content flex-start
.jcenter
  justify-content center
.jend
  justify-content flex-end

.between
  justify-content space-between
.around
  justify-content space-around

.center
  @extend .acenter, .jcenter
