.flex
  display flex
.flex-line
  display inline-flex

.frow
  flex-direction row
.fcolumn
  flex-direction column
.fwrap
  flex-wrap wrap
.fno-wrap
  flex-wrap nowrap

.astart
  align-items flex-start
.acenter
  align-items center
.aend
  align-items flex-end

.jstart
  justify-content flex-start
.jcenter
  justify-content center
.jend
  justify-content flex-end

.between
  justify-content space-between
.around
  justify-content space-around

.center
  @extend .acenter, .jcenter
